NODE_ENV=development
PORT=3001

DATABASE_URL=postgres://user:password@localhost:5432/semochal

AWS_REGION=ap-northeast-2

S3_PUBLIC_BUCKET=semochal-public-dev
S3_PRIVATE_BUCKET=semochal-private-dev

SQS_VERIFICATIONS_QUEUE_URL=

TOSS_SECRET_KEY=

CLOVA_OCR_API_URL=
CLOVA_OCR_SECRET_KEY=

NTS_API_KEY=

JWT_SECRET=dev-secret-change-me
